# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Python virtual environments
.venv/
venv/
ENV/
env/
*.env

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.cache/

# Pyre type checker
.pyre/

# Other
*.log
*.bak
*.swp
